html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.model-window {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.p-absolute {
    position: absolute;
    top: 60px;
    left: 0;
}

.bg-green {
    background-color: rgb(64, 179, 162);
}

.model-background {
    background-color: rgba(101, 158, 188, 0.5);
    z-index: -1;
}

.br-50 {
    border-radius: 50px;
}

.in-full-screen {
    width: 100%;
    height: calc(100% - 120px);
}

main {
    height: 100%;
}

footer, header {
    height: 60px;
}

.carousel-image {
    width: 100%;
    height: 300px;
    text-align: center;
}

    .carousel-image img {
        max-height: 100%;
        max-width: 80%;
        height: 100%;
        width: auto;
    }

.carousel-conteiner {
    width: 50%;
}

.details-top-part {
    display: flex;
}

    .details-top-part .data {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        margin: 15px;
    }

        .details-top-part .data span {
            margin: 9px 0;
        }

        .details-top-part .data a {
            display: inline-block;
            padding: 10px 30px;
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            border-radius: 5px;
            text-align: center;
        }

            .details-top-part .data a:hover {
                background-color: green;
            }

.details-description p {
    text-align: center;
    margin: 15px;
}

.cart-products {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

    .cart-products table {
        border-collapse: collapse;
        width: 80%;
    }

    .cart-products tr td, .cart-products tr th {
        max-width: 200px;
        border: 1px solid black;
        height: 50px;
    }

.td-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .td-item img {
        height: 100%;
        max-width: 100%;
    }

    .td-item a {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .td-item a img {
            height: 50px;
            max-width: 100%;
        }

.cart-title {
    font-weight: bold;
    font-size: 50px;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    width: 80%;
}


.cart-info {
    display: flex;
    flex-direction: column;
}

    .cart-info div {
        align-self: center;
        margin-bottom: 10px;
    }


.account-main {
    display:flex;
    align-items: center;
    justify-content:center;
}

.account-container {
    display: flex;
    width: 80%;
}

    .account-container div {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

        .account-container div div {
            width: 100%;
            display: block;
        }
