@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model string
@{

}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

<div class="in-full-screen model-background p-absolute br-50">
</div>

@if (Model != "" && Model != null)
{
    <p class="alert alert-danger error-message text-center" style="border-top-left-radius: 50px;border-top-right-radius: 50px;">@Model</p>
}

<div class="in-full-screen model-window p-absolute">
    <div class="row justify-content-center  bg-transparent">
        <form method="post" action="Authorization">
            <div class="form-group">
                <label for="login-email">Email</label>
                <input type="email" class="form-control" name="email" placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label for="login-password">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Enter password" required>
            </div>
            <div class="form-group">
                <label>Role</label>
                <div class="d-flex justify-content-between">
                    <div class="align-items-center d-flex">
                        <input type="radio" class="form-check-input position-relative" style="margin:0; margin-right:5px" name="role" value="seller">
                        <label class="form-check-label">Seller</labe>
                    </div>
                    <div>
                        <input type="radio" class="form-check-input" name="role" value="customer">
                        <label class="form-check-label">Customer</labe>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn" style="background-color: rgb(64, 179, 162); width:100%;">Enter</button>
            <p class="mt-3">Don`t have an account? <a asp-controller="Home" asp-action="Registration">Register</a></p>
        </form>
    </div>
</div>
</div>